* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 30px;
}

p {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.picture img {
    max-width: 100%;
}

.header {
    background-color: lavender;
    text-align: center;
    padding: 32px;
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
}

.pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.picture {
    width: 520px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 0px  rgba(0,0,0,0.3);
} 

.picture .text {
    text-align: center;
    padding: 0 20px 20px;
}

.picture .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

.picture:hover {
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    box-shadow: 3px 3px 6px 0px  rgba(0,0,0,0.3);
}

button:hover {
    box-shadow: 2px 2px 4px 0px  rgba(0,0,0,0.3);
}

.footer {
    background-color: lavender;
    text-align: center;
    padding: 60px;
}


#word {
    position: absolute;
    top: 210%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

#footerimg {
    filter: blur(2px);
}